<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Navbar</title>
</head>
<body>
<nav class="navbar">
  <div class="logo">MentoraX</div>
  <ul class="nav-links">
    <li><a href="../pages/index.html">Home</a></li>
    <li><a href="../pages/About.html">Sobre</a></li>
    <li><a href="../pages/courseCatalog.html">Cursos</a></li>
    <li><a href="../pages/login.html">Login</a></li>
    <li><a href="../pages/register.html">Registrar</a></li>
  </ul>
</nav>

<script src="../js/main.js"></script>
</body>
</html>